{% extends 'cryptoden_main.html' %}

{% block content %}
    <div class="pattern-main" style="background-image: url('{{ pages.background.url }}');">
        <div class="container">
            <div class="p-2"></div>
            <div class="card-main">
                <div class="row text-center">
                    <div class="col-md">
                        <div class="m-3">
                            <h3>Encryptor/Decryptor</h3>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-4">
                                <div class="settings d-flex flex-column p-4">
                                    <label for="operation-select">Method</label>
                                    <label for="cipher-select">Cipher</label>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="settings d-flex flex-column p-4">
                                    <select id="operation-select" onchange="updateCiphers(); updateOperationDescription(); updateCipherDescription(); updateCipherKey();">
                                        {% for operation in operations %}
                                            {% if operation.name != "Block" %}
                                                <option value="{{ operation.id }}">{{ operation.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <select id="cipher-select" onchange="updateCipherDescription(); updateCipherKey(); checkInput();">
                                        <option value="">Select Operation First</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-3">
                                <div class="p-4">
                                    <label for="">Keys</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="keys p-4">
                                    <div id="key-none" style="display: none;">
                                        <input id="null" disabled placeholder="No Key Required">
                                    </div>
                                    <div id="key-caesar" style="display: none;">
                                        <input id="caesar" type="number" placeholder="i.e. 1-25" oninput="caesarValidateInput(this)">
                                    </div>
                                    <div id="key-affine" style="display: none;">
                                        <input id="a" type="number" placeholder="Not 13 or an even no." oninput="affineValidateInput(this)">
                                        <input id="b" type="number" placeholder="Any number" oninput="affineValidateInput(this)">
                                    </div>
                                    <div id="key-vigenere" style="display: none;">
                                        <input id="vigenere" type="text" placeholder="Any Character">
                                    </div>
                                    <div id="key-foursquare" style="display: none;">
                                        <input id="key-1" type="text" placeholder="Any Character" oninput="">
                                        <input id="key-2" type="text" placeholder="Any Character" oninput="">
                                    </div>
                                    <div id="key-xor" style="display: none;">
                                        <input id="xor" type="number" placeholder="i.e. 0-127" oninput="xorValidateInput(this)">
                                    </div>
                                </div>
                            </div>
                            <label id="non-printable" for="keys">Note: Non-printable characters will be replaced with ☒</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="m-4">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="p-text form-floating">
                                <textarea class="form-control" placeholder="Type your plaintext here" id="plainTextarea" style="height: 100%"></textarea>
                                <label for="plainTextarea">Plaintext</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="ed-btns d-flex align-items-center">
                                <button id="encryptBtn" class="btn btn-light p-2 m-2">Encrypt</button>
                                <button id="decryptBtn" class="btn btn-light p-2 m-2">Decrypt</button>
                                <button id="clearBtn" class="btn btn-light p-1 m-4">Clear</button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="c-text form-floating">
                                <textarea class="form-control" placeholder="Type your ciphertext here" id="cipherTextarea" style="height: 100%"></textarea>
                                <label for="cipherTextarea">Encrypted Text</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% if request.user.is_authenticated %}
                <div class="row">
                    <div class="col-10">
                        <div class="m-3">
                            <h3>History</h3>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <div class="">
                            <h3>v</h3>
                        </div>
                    </div>
                </div>
                <hr>
                {% endif %}
                <div class="row">
                    <div class="col-md">
                        <div class="m-3">
                            <h3>Description</h3>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <div class="p-4">
                            <p id="operation-desc">"operation-description"</p>
                        </div>
                        <div class="text-center">
                            <h5>Implementation</h5>
                        </div>
                        <div class="p-4">
                            <p id="cipher-desc">"cipher-description"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}