{% extends 'cryptoden_main.html' %}

{% block content %}
    <div class="pattern" style="background-image: url('{{ pages.background.url }}');">
        <div class="container">
            <div class="row text-center">
                <div class="col-md">
                    <div class="p-4">
                        <h1>Textual Cryptography</h1>
                    </div>
                </div>
            </div>
            <div class="card-c">
                {% if form_type == 'signin' %}
                <div class="signin-form">
                    <h2>Sign in</h2>
                    <form action="{% url 'cryptoden:crypto-signin' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="username">
                        <input type="password" name="password">
                        <input type="submit" value="Sign in">
                    </form>
                    <p>First time user? <a href="{% url 'cryptoden:crypto-register' %}">Sign Up</a></p>
                </div>
                {% else %}
                <div class="register-form">
                    <h2>Sign up</h2>
                    <form action="{% url 'cryptoden:crypto-register' %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Register">
                    </form>
                    <p>Already registered? <a href="{% url 'cryptoden:crypto-signin' %}">Sign in</a></p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}