{% extends 'cryptoden_main.html' %}

{% block content %}
    <div class="pattern" style="background-image: url('{{ pages.background.url }}');">
        <div class="container">
            <div class="row text-center">
                <div class="col-md">
                    <div class="p-4">
                        <h1>Textual Cryptography</h1>
                    </div>
                </div>
            </div>
            <div class="card-c">
                <div class="login-form">
                    <form action="{% url 'cryptoden:crypto-login' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="username">
                        <input type="password" name="password">
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}