@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap');

/* UNIVERSAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
  color: #18314f;
}

hr{
  margin-top: 0;
  margin-bottom: 0;
}

.card-c {
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  border-radius: 5px;
}

.form-control:focus {
  border-color: gray;
  box-shadow: none;
}

.settings label, select{
  margin: 5px 0;
}

.settings select{
  width: 100%;
  max-width: 200px;
}

.ed-btns{
  flex-direction: column;
}

.ed-btns button{
  padding: 0;
  font-size: 14px;
  border-color: rgb(200, 200, 200);
}

@media (max-width: 568px) {
  .ed-btns{
    flex-direction: row;
  }
}