@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* HTML STYLING */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
  margin-top: 5vh;
}
/* HTML STYLING END */

/* NAVBAR STYLING START */
.navbar{
  padding: 20px 30px;
  transition: all 0.4s ease;
}

.navbar.sticky{
  background-color: #14133d;
  padding: 15px 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.navbar.sticky li a{
  color: white;
}

.navbar.sticky .logo a{
  color: white;
}

.menu-list li{
  padding: 0px 10px;
}

.menu-list li a{
  color: black;
  font-size: 18px;
}
  
.menu-list li a:hover{
  color: silver;
}

.navbar .logo a{
  color: black;
  font-size: 28px;
}

.icon{
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.navbar.sticky .icon{
  color: white;
}

.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

/* unless the screen width is at least ...px, do not display */
@media (max-width: 868px) {
  .navbar .menu-list{
    position: fixed;
    top: 1%;
    right: -100%;
    height: 100vh;
    width: 100%;
    max-width: 240px;
    max-height: 300px;
    display: block;
    padding: 15px 0;
    text-align: center;
    background-color: #14133d;
    transition: all 0.2s ease;
  }

  .icon{
    color: black;
    display: block;
  }

  .icon.hide{
    display: none;
  }

  .navbar.active{
    background-color: #14133d;
    transition: all 0.2s ease;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
  }

  .navbar.active .icon{
    color: white;
  }

  .navbar.active .logo a{
    color: white;
  }

  .navbar .menu-list.active{
    right: 0%;
  }

  .navbar .menu-list li{
    margin-top: 20px;
  }

  .navbar .menu-list li a{
    color: white;
    margin-left: 0px;
  }
  
  .menu-list li a:hover{
    color: silver;
  }
}
/* NAVBAR STYLING END */

/* FOOTER STYLING */
.footer-card{
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 20px 40px;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 1.5), 
           inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

.footer-card .content{
  text-align: center;
}

.footer-card .social-list{
  display: inline-flex;
}

.footer-card li{
  list-style: none;
  padding: 10px 10px;
}

.social-list a{
  color: #14133d;
}

.social-list a:hover{
  color: silver;
}
/* FOOTER STYLING END */

/* PROFILE-CARD STYLING */
.profile-card{
  padding: 80px 0;
}

.card{
  width: 400px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
  /* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5) */
}

.img1 img{
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.img2 img{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid whitesmoke;
  margin-top: -90px;
}

.profile-name{
  padding: 10px 0;
  text-align: center;
}

.profile-name h2{
  font-weight: 600;
  font-size: 18px;
}

.profile-title{
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  text-align: center;
}

.profile-location{
  font-size: 16px;
  font-weight: 300;
  padding: 5px 10px;
  text-align: center;
}

.profile-socials{
  text-align: center;
  padding: 30px 0;
}

.profile-socials a{
  color: #14133d;
  padding: 0 5px;
}

.profile-socials a:hover{
  transition: all 0.2s ease;
  color: silver;
}

.profile-btns{
  display: inline-flex;
  padding: 5px 0;
  margin-left: auto;
  margin-right: auto;
}

.profile-btn-proj{
  padding: 0 10px;
}

.profile-btn-cont{
  padding: 0 10px;
}

.profile-btn-proj button{
  color: white;
  background-color: #14133d;
}

.profile-btn-cont button{
  color: white;
  background-color: #14133d;
}

.profile-btn-proj button:hover{
  background-color: silver;
}

.profile-btn-cont button:hover{
  background-color: silver;
}
/* PROFILE-CARD STYLING END */