{% load static %}

<footer>
    <div class="footer-card">
        <div class="content">
            <div class="social-list">
                <a href="{{profile.social_linkedin}}" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                <a href="{{profile.social_github}}" target="_blank"><i class="fa-brands fa-square-github fa-2xl"></i></a>
            </div>
            <div class="copyright-row">
                <p>Copyright ©{% now 'Y' %} All rights reserved. Developed by <a href="#">MSREZAIE</a></p>
            </div>
        </div>
    </div>
</footer>