{% load static %}
<script src="{% static 'js/scroll.js' %}"></script>


<nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
        <div class="logo"><a class="navbar-brand" href="#"><img src="{{page.logo.url}}"></a></div>
        <ul class="menu-list navbar-nav">
            <div class="icon cancel-btn">
                <i class="fas fa-times"></i>
            </div>
            <li class="nav-item">
                <a class="nav-link" onclick="scrollToBlock('scroll-to-contact')">GET IN TOUCH</a>
            </li>
        </ul>
        <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>

<script>
    const navbar = document.querySelector(".navbar");
    const menu = document.querySelector(".menu-list");
    const menuBtn = document.querySelector(".menu-btn");
    const cancelBtn = document.querySelector(".cancel-btn");
    const contactBtn = document.querySelector(".nav-item");

    menuBtn.onclick = ()=>{
        menu.classList.add("active");
        navbar.classList.add("active");
        menuBtn.classList.add("hide");
    }

    cancelBtn.onclick = ()=>{
        menu.classList.remove("active");
        navbar.classList.remove("active");
        menuBtn.classList.remove("hide");
    }

    contactBtn.onclick = ()=>{
        menu.classList.remove("active");
        menuBtn.classList.remove("hide");
    }

    window.onscroll = ()=>{
        this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
    }
</script>