{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block banner-profile %}

<div class="banner" style="background-image: url('{{ page.landing_page_background.url }}');">
    <div class="profile">
        <div class="row">
            <div class="container">
                <div class="profile-card">
                    <div class="img1"><img src="{{profile.profile_background.url}}" alt=""></div>
                    <div class="img2"><img src="{{profile.profile_image.url}}" alt=""></div>
                    <div class="profile-name"><h2>Hey, I am {{profile.full_name}}</h2></div>
                    <div class="profile-title">{{profile.short_bio}}</div>
                    <div class="profile-location">Based in {{profile.location}}</div>
                    <div class="profile-socials">
                        {% if profile.social_linkedin %}
                            <a title="LinkedIn" href="{{profile.social_linkedin}}" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                        {% endif %}
                        {% if profile.social_github %}
                            <a title="Github" href="{{profile.social_github}}" target="_blank"><i class="fa-brands fa-square-github fa-2xl"></i></a>
                        {% endif %}
                    </div>
                    <div class="profile-proj-btn"><button onclick="scrollToBlock('scroll-to-projects')" type="button" class="u-button"><i style="margin-right: 5px;" class="fa-sharp fa-solid fa-diagram-project"></i>My Projects</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock banner-profile %}

{% block projectsCard %}

<div id="scroll-to-projects">
    <div class="title-card">
        <div class="container" style="background-image: url('{{ page.landing_page_background.url }}');">
            <div class="title-card-banner">
                <h3>PROJECTS</h3>
            </div>
        </div>
    </div>
    <div class="projects-stack">
        <div class="container">
            <div class="row gy-3">
                {% for project in projects %}
                    <div class="col-lg-6">
                        <div class="projects-card card h-100">
                            <div class="proj-img"><img class="card-img-top" src="{{project.featured_image.url}}" alt="..."></div>
                            <div class="card-body">
                                <h4 class="card-title">{{project.title}}</h4>
                                <p class="card-text">{{project.short_description}}</p>
                                <div class="project-tags">
                                    <div class="row gy-2">
                                        {% for tag in project.tags.all %}
                                            <div style="white-space: nowrap; width: 4.5em" class="col-2">
                                                <div class="tag-pill">
                                                    <h6>{{tag}}</h6>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-btns">
                                {% if project.demo_link %}
                                    <a href="{{project.demo_link}}" target="_blank" class=""><button class="u-button"><i style="margin-right: 5px" class="fa-solid fa-eye"></i>Live Demo</button></a>
                                {% else %}
                                    <button disabled class="u-button"><i style="margin-right: 5px" class="fa-solid fa-eye"></i>Live Demo</button>
                                {% endif %}
                                {% if project.source_link %}
                                    <a href="{{project.source_link}}" target="_blank" class=""><button class="u-button"><i style="margin-right: 5px" class="fa-brands fa-github"></i>Code</button></a>
                                {% else %}
                                    <button disabled class="u-button"><i style="margin-right: 5px" class="fa-brands fa-github"></i>Code</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock projectsCard %}

{% block about %}

<div class="title-card">
    <div class="container" style="background-image: url('{{ page.landing_page_background.url }}');">
        <div class="title-card-banner">
            <h3>ABOUT ME</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="about-me-lines">
                <p>{{profile.line1}}</p>
                <p>{{profile.line2}}</p>
                <p>{{profile.line3}}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md">
                    <div class="skill-title text-center">
                        <h5>Technologies that I have worked with</h5>
                    </div>
                </div>
            </div>
            <div class="row skill-stack">
                <div class="col-6">
                    <div class="container text-center">
                        <h5>Front-end</h5>
                        <ul>
                        {% for skill in profile.skill_set.all %}
                            {% if skill.stack == 'front-end' %}
                            <div style="margin: auto auto 5px auto" class="skill-pill">
                                <li>{{ skill.skill }}</li>    
                            </div>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="container text-center">
                        <h5>Back-end</h5>
                        <ul>
                            {% for skill in profile.skill_set.all %}
                                {% if skill.stack == 'back-end' %}
                                <div style="margin: auto auto 5px auto" class="skill-pill">
                                    <li>{{ skill.skill }}</li>    
                                </div>  
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="resume-dl">
                {% if profile.resume %}
                    <a href="{{ profile.resume.url }}"><button><i style="padding: 0 5px" class="fa-solid fa-download"></i>Resume</button></a>
                {% else %}
                    <button disabled class=".u-button"><i style="padding: 0 5px" class="fa-solid fa-download"></i>Resume</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock about %}

{% block contact %}

<div id="scroll-to-contact">
    <div class="title-card">
        <div class="container" style="background-image: url('{{ page.landing_page_background.url }}');">
            <div class="title-card-banner">
                <h3>CONTACT</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-text"><p>Interested in working together? Let's connect via email</p></div>
        <form id="contact-form" class='cont-form' action="{% url 'base_app:base' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <div class="contact-field">{{ field|add_class:"form-control" }}</div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        {% for error in field.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </form>
        <div class="form-btn"><button class="u-button" type="submit" form="contact-form" value="Submit"><i style="margin-right: 5px;" class="fa-solid fa-paper-plane"></i>Send</button></div>
        <script>
            var message = "{{ form_message }}";
            if (message) {
            alert(message);
            window.location.replace("{% url 'base_app:base' %}");
            }
        </script>
    </div>
</div>

{% endblock contact %}