{% extends 'index.html' %}
{% load static %}

{% block profileCard %}

{% comment %} {% if profile.social_github %}
                <li>
                    <a title="Github" href="{{profile.social_github}}" target="_blank">GitHub<i
                            class=""></i></a>
                </li>
                {% endif %}

                <li><a href="https://www.linkedin.com/in/mohammad-sulayman-rezaie-ab6940223/"><i class=""></i></a></li>
                <li><a href="https://github.com/msrezaie"><i class=""></i></a></li>

                {% if profile.social_linkedin %}
                <li>
                    <a title="LinkedIn" href="{{profile.social_linkedin}}" target="_blank">LinkedIn<i
                            class=""></i></a>
                </li>
                {% endif %} {% endcomment %}

<div class="profile-card mx-auto">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="img1"><img src="{{profile.profile_background.url}}" alt=""></div>
                    <div class="img2"><img src="{{profile.profile_image.url}}" alt=""></div>
                    <div class="profile-name"><h2>Hey, I am {{profile.full_name}}</h2></div>
                    <div class="profile-title">{{profile.short_bio}}</div>
                    <div class="profile-location">Based in {{profile.location}}</div>
                    <div class="profile-socials">
                        <a href=""><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                        <a href=""><i class="fa-brands fa-square-github fa-2xl"></i></a>
                    </div>
                    <div class="profile-btns">
                        <div class="profile-btn-proj"><button type="button" class="btn btn-sm">My Projects</button></div>
                        <div class="profile-btn-cont"><button type="button" class="btn btn-sm">Contact</button></div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock profileCard %}

{% block projectsCard %}

<main>
    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    <h3 class="">Projects</h3>
                    <div class="">
                        {% for project in projects %}
                        <div class="">
                            <div class="">
                                <a href="{% url 'project' project.id %}" class="project">
                                    <img class="project__thumbnail" src="{{project.featured_image.url}}"
                                        alt="project thumbnail" />
                                    <div class="card__body">
                                        <h3 class="project__title">{{project.title}}</h3>
                                        <div class="project__tags">

                                            {% for tag in project.tags.all %}
                                            <span class="tag tag--pill tag--main">
                                                <small>{{tag}}</small>
                                            </span>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock projectsCard %}