{% extends 'base.html' %}
{% load static %}

{% block profileCard %}

<main>
    <div class="">
        <div class="">
            <div class="">
                <div class="profile-card">
                    <div class="content">
                        <img src="{{profile.profile_image.url}}" alt="" class="profile-image">
                        <div class="profile-name">Hi I am {{profile.full_name}}.</div>
                        <div class="profile-title">Prospect Software Developer</div>
                        <div class="profile-detail">I like to code in Python</div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="container">
        <div class="card__body dev">
            <img class="avatar avatar--lg" src="" />
            <h2 class="dev__name">Hi, I am </h2>
            <p class="dev__title">{{profile.short_bio}}</p>
            <p class="dev__location">Based in {{profile.location}}</p>
            <ul class="dev__social">

                {% if profile.social_github %}
                <li>
                    <a title="Github" href="{{profile.social_github}}" target="_blank">GitHub<i
                            class=""></i></a>
                </li>
                {% endif %}

                <li><a href="https://www.linkedin.com/in/mohammad-sulayman-rezaie-ab6940223/"><i class=""></i></a></li>
                <li><a href="https://github.com/msrezaie"><i class=""></i></a></li>

                {% if profile.social_linkedin %}
                <li>
                    <a title="LinkedIn" href="{{profile.social_linkedin}}" target="_blank">LinkedIn<i
                            class=""></i></a>
                </li>
                {% endif %}

            </ul>
            
            <a href="{% url 'index' %}" class="btn btn--sub btn--lg">Go to Projects</a>
            <a href="" class="btn btn--sub btn--lg">Contact</a>
        </div>
    </div> {% endcomment %}
</main>

{% endblock profileCard %}

{% block projectsCard %}

<main>
    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    <h3 class="">Projects</h3>
                    <div class="">
                        {% for project in projects %}
                        <div class="">
                            <div class="">
                                <a href="{% url 'project' project.id %}" class="project">
                                    <img class="project__thumbnail" src="{{project.featured_image.url}}"
                                        alt="project thumbnail" />
                                    <div class="card__body">
                                        <h3 class="project__title">{{project.title}}</h3>
                                        <div class="project__tags">

                                            {% for tag in project.tags.all %}
                                            <span class="tag tag--pill tag--main">
                                                <small>{{tag}}</small>
                                            </span>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock projectsCard %}